.icons{
    position:relative;
    top:10px;
    height:40px;
}

.icons img{
    float:right;
}

.icons img:hover{
    cursor:pointer;
}

.grid {
    position:relative;
}

.grid .movie{
    position:relative;
    float:left;
    width: 200px;
    height: 200px;
    margin:10px;
}



.grid .movie img , .list .movie img{
    position:absolute;
    top:0px;
    left:0px;
    background-color: white;
    padding: 5px;
    border:1px solid lightgray;
    width: 200px;
    height: 200px;
}

.grid .title{
    position:absolute;
    left:6px;
    bottom:6px;
    height:35px;
    width:200px;
    background-color:rgba(0,0,0,0.3);
    color:white;
    line-height: 35px;
    text-align: center;
}

.grid .year{
   color: white;
}

.list {
    position:relative;
}

.list .movie{
    position:relative;
    display:block;
    width:70%;
    height:200px;
    padding:10px;
    border-bottom:lightgray 1px dotted;
}

.list div.description, .list .year{
    position:absolute;
    top:10px;
    color: black;
    left:250px;
    font-size:25px;
}

.list .year{
    top:100px;
    color:gray;
    font-size:15px;  
}


